* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

body {
    font-family: sans-serif;
    background-color: #f0f2f5;
    color: #333;
}